<!DOCTYPE html>

<h3>Users Page</h3>

<ul>
	<% @users.all.each do |u| %>
		<li>
			<%= "#{u.fname} #{u.lname} - #{u.id}" %><br>
			<%= "#{u.posts.last.title}" %><br>
			<%= "#{u.posts.last.body}" %>
		</li>
	<% end %>
</ul>