<!DOCTYPE html>

<h3><%= "#{@user.fname}'s Page" %></h3>

<h4>Posts:</h4>

<ul>
	<% @user.posts.all.each do |p| %>
	<li>
		<%= p.title %><br>
		<%= p.body %>
	</li>
	<% end %>
</ul>


<div>
<%= link_to "Delete User", user_path(@user), method: :delete %>
</div>